body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: gray;
    color: #333;
}
.c{
    background-image: url(12.gif);
    background-size: cover;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:monospace;
    user-select: none;
}
.center h1{
    color: yellow;
    font-size: 60px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}
.center p{
    color: red;
    font-size: 30px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}
.center span{
    color: green;
}
.botton{
    text-align: left;
}
.about{
    transition: transform 0.3s;
}
.about p{
    border: none;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    background-color: gray;
    transition: transform 0.3s;
}
.about:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.about h5,
.about p {
    margin: 10px;
}
.about a {
    color: #3498db;
    text-decoration: none;
}

.about a:hover {
    text-decoration: underline;
}
.project {
    border-radius: 10%; /* Make the entire project box circular */
    overflow: hidden; /* Hide overflowing content to maintain the circular shape */
    width: 300px; /* Set a fixed width to make sure it's a perfect circle */
    height: 300px; /* Set a fixed height to make sure it's a perfect circle */
    margin: none; /* Margin around the circular project box */
    border-radius: 50%;
    text-align: center;
    float: left;
    margin: 50px;
    transition: transform 0.3s;
}

.project-container {
    text-align: center; /* Center the content within the container */
    display: flex;
    justify-content: space-between;
    
}

.project h3 {
    margin: 0;
    padding: 90px; /* Padding inside the circular project box */
    background-color: violet; /* Background color for the circular box */
}
.project2{
    border-radius: 50%; /* Make the entire project box circular */
    overflow: hidden; /* Hide overflowing content to maintain the circular shape */
    width: 300px; /* Set a fixed width to make sure it's a perfect circle */
    height: 300px; /* Set a fixed height to make sure it's a perfect circle */
    margin: none; /* Margin around the circular project box */
    border-radius: 50%;
    text-align: center;
    margin: 50px;
    transition: transform 0.3s;
}
.project2 h3{
    margin: 0;
    padding: 90px; /* Padding inside the circular project box */
    background-color: violet; /* Background color for the circular box */
}
.project p{
    font-family: 'Quicksand', sans-serif;
    font-size: large;
}
.project:hover {
    transform: scale(1.1); /* Scale the project on hover */
}

.project-container {
    text-align: center;
}

.project h3 {
    margin: 0;
}