<div class="about">
<h5>Rey</h5>
<p>Recent graduate with a degree in Bachelor of Science in Information Technology, specializing in web development. Proficient in HTML, CSS, and JavaScript with hands-on experience in Computers. A strong problem solver with a keen eye for detail, I am eager to bring my technical skills and passion for creating dynamic and user-friendly websites to a dynamic web development team. Excited about the opportunity to contribute to Strawberry Company and leverage my skills to enhance web experiences.</p>
<p>Student No. 20212010</p>
<p>Github:<a href="https://github.com/taloy2">Taloy</a></p>
</div>